<footer class="footer-lime mt-auto py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-3 mb-md-0">
                <h5>VoteIt</h5>
                <p class="small">온라인 투표,질문 게시판 VoteIT</p>
            </div>
            <div class="col-md-6 text-md-end">
                <ul class="list-inline mb-2">
                    <li class="list-inline-item"><a href="#">Privacy</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="#">Terms</a></li>
                    <li class="list-inline-item">|</li>
                    <li class="list-inline-item"><a href="#">Contact</a></li>
                </ul>
                <p class="small mb-0">&copy; 2025 VoteIT</p>
            </div>
        </div>
    </div>
</footer>

